body {
    background-color: rgb(180, 124, 40);
}
h1{
    font-family: vardana;
    font-size: 200%;
}
p{
    font-family: courier;
    font-size: 100%;
    margin: 50px;
}
a {
    text-decoration: underline;
}
img{
    width: 100%;
}
table,td{
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    padding: 5px;
    text-align: center;
}
tr:nth-child(even){
    background-color: #d89a16;
    font-weight: normal;
}
tr:first-child, td:first-child {
    font-weight: 1200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
caption{
    font-family: monospace;
    font-size: 120%;
}
.YouTube_button {
    background-color: #2C3335;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 4px;
}
.YouTube_button:hover {
    background-color: #085886;
    color: whitesmoke;
}
form.example button{
    background: rgb(22, 123, 190);
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    width: 9%;
    position: absolute;
    top: 12px;
    right: 16px;
    border-radius: 0px 15px 15px 0px;
}
form.example input{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 24%;
    position: absolute;
    top: 12px;
    right: 88px;
    border-radius: 15px 0px 0px 15px;
}
footer{
    position: relative;
    background-color: rgb(31, 28, 2);
    width: 100%;
    height: 10%;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 30px;
    margin: 2px;
    clear: both;
    border-radius: 4px;
}
.fa{
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
}
nav{
    position: relative;
    background-color: #333333;
    width: 100%;
    height: 30%;
    text-align: left;
    overflow: hidden;
}
nav a{
    color: white;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}
nav a.home {
    background-color: #085886;
    color: white;
}
